@import helper._

@(listForm: Form[ListForm.Data])(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@main("List Sorter") {
  <div class="container">
    <div class="row">
      <div class="card offset-3 col-6">
        <div class="card-body">
          @form(action = helper.CSRF(routes.HomeController.sortList())) {
            @inputText(listForm("listToSort"), '_label -> "Enter list:", 'size -> 65)

            <input class="btn btn-dark" type="submit" value="Sort!">
          }
        </div>
      </div>
    </div>
  </div>
}
